header {
  display: flex;
  justify-content: center;
}
header .navBarDesktop {
  z-index: 1;
  position: fixed;
  padding: 0;
  margin-top: -135px;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(4, auto);
  justify-content: space-evenly;
  flex-wrap: nowrap;
  background-color: rgba(0, 0, 0, 0.85);
}
header .navBarDesktop .mark {
  font-style: italic;
  width: 150px;
  text-align: center;
  border-radius: 25px;
  font-family: "Lucida Sans";
  color: orange;
}
header .navBarDesktop .list {
  list-style: none;
  display: flex;
  align-items: center;
}
header .navBarDesktop .list li {
  margin: 10px;
  font-size: 25px;
}
header .navBarDesktop .list a {
  text-decoration: none;
  color: rgb(255, 242, 0);
}
header .navBarDesktop .searchContainer {
  display: flex;
  align-items: center;
  background-color: #fff;
  align-self: center;
}
header .navBarDesktop .searchContainer .searchInput {
  font-style: italic;
  outline: none;
  transition: all 0.5s;
  border: none;
  width: 100px;
  opacity: 100;
}
header .navBarDesktop .cartButtonContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .navBarDesktop .cartButtonContainer .cartIcon {
  font-size: 25px;
  color: yellow;
  cursor: pointer;
}
header .navBarDesktop .cartButtonContainer .cartIcon:hover {
  color: green;
}
header .navBarDesktop .cartButtonContainer p {
  position: relative;
  font-size: 30px;
  left: 5px;
  color: yellow;
}

.responsiveNavBar {
  display: none;
}

.cartContainer {
  position: fixed;
  transform: translateY(-1000px);
  width: 650px;
  padding: 0;
  max-height: 500px;
  display: inline;
  z-index: 10;
  overflow-y: auto;
  margin: auto auto;
  transition: all 1s;
  left: 0px;
  right: 0px;
  background-color: #111;
  border: green 5px inset;
}
.cartContainer h1 {
  color: yellow;
}
.cartContainer li, .cartContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}
.cartContainer .productCardBuy {
  width: 100%;
  padding: 0;
}
.cartContainer .productCardBuy .card-body {
  border-bottom: black 1px solid;
  display: grid;
  grid-template-columns: repeat(6, auto);
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 100%;
  padding: 0;
}
.cartContainer .productCardBuy p,
.cartContainer .productCardBuy img,
.cartContainer .productCardBuy h1,
.cartContainer .productCardBuy button {
  border-left: 2px solid grey;
  align-self: center;
  color: #333;
  font-size: 25px;
  padding: 10px;
}
.cartContainer img {
  min-width: 75px;
  max-height: 75px;
}
.cartContainer .listTitleContainer {
  display: flex;
}
.cartContainer .listTitleContainer .XIcon {
  font-size: 40px;
  color: yellow;
  background-color: #222;
  align-self: center;
  justify-self: center;
  cursor: pointer;
}
.cartContainer .listTitleContainer .XIcon:hover {
  color: red;
}
.cartContainer .listTitleContainer h1 {
  width: 95%;
  text-align: center;
  background-color: #222;
  color: #888;
  margin: 0;
}

.cartContainer.active {
  transform: translateY(0px);
}

@media (max-width: 426px) {
  header .navBarDesktop {
    display: none;
  }
  header .responsiveNavBar {
    display: block;
    position: absolute;
    top: -250px;
    background-color: rgba(0, 0, 0, 0.85);
    filter: drop-shadow(5px 10px 10px black);
    z-index: 1;
    transition: all 0.5s;
  }
  header .responsiveNavBar #responsiveMenuIcon {
    color: red;
    font-size: 25px;
    width: auto;
    position: relative;
    bottom: -25px;
    width: 100vw;
    text-align: center;
    background-color: #555;
  }
  header .responsiveNavBar .responsiveList {
    padding: 0;
    width: 200px;
    margin: auto auto;
  }
  header .responsiveNavBar .responsiveList li {
    padding: 0;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    list-style: none;
  }
  header .responsiveNavBar .responsiveList a {
    text-decoration: none;
    color: black;
  }
  header .responsiveNavBar .responsiveList li:nth-child(even) {
    background-color: #555;
  }
  header .responsiveNavBar .responsiveList li:nth-child(odd) {
    background-color: #666;
  }
  header .responsiveNavBar .responsiveCartButtonContainer {
    text-align: center;
  }
  header .responsiveNavBar .responsiveCartButtonContainer .cartIcon {
    font-size: 25px;
    color: yellow;
    cursor: pointer;
  }
  header .responsiveNavBar .responsiveCartButtonContainer .cartIcon:hover {
    color: green;
  }
  header .responsiveNavBar .mark {
    color: orange;
    font-family: "Lucida Sans";
    text-align: center;
    font-style: italic;
    margin: 0;
    padding: 0;
  }
  header .responsiveNavBar.active {
    top: 0px;
  }
  .cartContainer {
    position: fixed;
    transform: translateY(-1000px);
    width: 150px;
    max-height: 250px;
    display: inline;
    z-index: 10;
    overflow-y: auto;
    margin: auto auto;
    transition: all 1s;
    left: 0px;
    right: 0px;
    background-color: #111;
  }
  .cartContainer h1 {
    color: yellow;
  }
  .cartContainer li, .cartContainer ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .cartContainer .productCardBuy .card-body {
    border-bottom: black 1px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
    padding: 0;
  }
  .cartContainer .productCardBuy p, .cartContainer .productCardBuy h1 {
    color: #333;
    font-size: 20px;
    width: 100%;
    background-color: grey;
    padding: 0;
  }
  .cartContainer button {
    width: 100%;
  }
  .cartContainer .listTitleContainer {
    display: flex;
  }
  .cartContainer .listTitleContainer .XIcon {
    font-size: 40px;
    color: yellow;
    background-color: #222;
    align-self: center;
    justify-self: center;
    cursor: pointer;
  }
  .cartContainer .listTitleContainer .XIcon:hover {
    color: red;
  }
  .cartContainer .listTitleContainer h1 {
    width: 95%;
    text-align: center;
    background-color: #222;
    color: #888;
    margin: 0;
  }
}
footer {
  position: absolute;
  display: inline;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
}
footer .footerContainer {
  height: 150px;
  display: grid;
  position: relative;
  margin: auto auto;
  grid-template-columns: repeat(3, auto);
  grid-column-gap: 5%;
  align-items: center;
  justify-content: center;
  background-color: #333;
  height: -moz-fit-content;
  height: fit-content;
}
footer .footerContainer .logo {
  scale: 0.8;
}
footer .footerContainer ul {
  justify-self: center;
  list-style: none;
  display: flex;
  align-items: center;
}
footer .footerContainer ul a {
  color: orange;
  margin: 0 10px;
}
footer .footerContainer .iconsContainer .socialIcon {
  margin: 5px;
  font-size: 30px;
  color: grey;
}
footer .footerContainer h3 {
  color: #888;
}

@media (max-width: 426px) {
  footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    margin: 10px auto;
    margin: auto auto;
  }
  footer img {
    width: 100px;
  }
  footer ul {
    justify-self: center;
    list-style: none;
    display: flex;
    align-items: center;
  }
  footer ul a {
    color: orange;
    margin: 0 10px;
  }
  footer .iconsContainer .socialIcon {
    margin: 5px;
    font-size: 30px;
    color: grey;
  }
  footer h3 {
    margin: 20px 20px;
    text-align: center;
    color: #888;
  }
}
.pictureContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pictureContainer .logoPrincipal {
  width: auto;
}

body {
  margin: 100px auto;
  width: -moz-fit-content;
  width: fit-content;
  background-color: rgba(14, 67, 137, 0.9);
}

:root {
  background-image: url("https://th.bing.com/th/id/OIP.VoyCPZHsEvPe-W6x1GvtygHaHa?rs=1&pid=ImgDetMain");
}

.navBar {
  background-color: #933838;
}
.navBar ul {
  display: flex;
}
.navBar li {
  color: yellow;
  list-style: none;
  margin: auto;
}
.navBar a {
  color: black;
  text-decoration: none;
}

.contactContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10px;
}
.contactContainer .contactCard {
  text-align: center;
}
.contactContainer .maps {
  width: 100%;
  height: 250px;
}

.card {
  padding: 0;
}

/* OPEN POST FORM  */
.formBody {
  width: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.formWindowMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #111;
  color: yellow;
}
.formWindowMenu svg {
  font-size: 30px;
}
.formWindowMenu svg:hover {
  color: red;
}

.formWindow {
  position: fixed;
  transform: translateY(-550px);
  width: -moz-fit-content;
  width: fit-content;
  max-height: 500px;
  justify-self: center;
  align-self: center;
  background-color: grey;
  z-index: 10;
  overflow-x: hidden;
  transition: all 1s;
}

.formWindow.open {
  transform: translateY(100px);
}

.home-subtittle,
h1 {
  text-align: center;
  color: #fff;
  background-color: #111;
}

.productList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 5px;
  height: -moz-fit-content;
  height: fit-content;
}
.productList li {
  list-style: none;
}
.productList .largeDescContainer {
  font-size: 12px;
  width: 150px;
}
.productList .largeDescContainer button {
  margin: 0;
  padding: 0;
}
.productList .productCardManager {
  width: 350px;
  height: -moz-fit-content;
  height: fit-content;
  font-size: 18px;
  margin: 5px;
  padding: 0;
}
.productList .productCardManager p:nth-of-type(even) {
  background-color: #888;
  width: 100%;
}
.productList .productCardManager p:nth-of-type(odd) {
  width: 100%;
  background-color: #555;
}
.productList .productCardManager .card-body {
  color: #0f0;
  background-color: #262626;
  margin: 0;
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productList .productCardManager .card-body p, .productList .productCardManager .card-body h5 {
  padding: 0;
  margin: 0;
}
.productList .productCard {
  margin: 10px;
  width: 250px;
  height: -moz-fit-content;
  height: fit-content;
}
.productList .productCard .card-body {
  color: rgb(255, 115, 0);
  background-color: #262626;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.productList .productCard img {
  width: 150px;
  height: 150px;
  background-color: grey;
}
.productList .productCard p {
  margin: 0px;
  width: 100%;
  text-align: center;
  color: rgb(147, 107, 56);
}
.productList .productCard p:nth-of-type(even) {
  background-color: #000000;
}
.productList .productCard p:nth-of-type(odd) {
  background-color: #262626;
}
.productList .productCard p:nth-of-type(2) {
  color: #0f0;
}
.productList .productCard p:first-of-type {
  color: yellow;
  font-style: italic;
}
.productList .productCard .accordion-body {
  padding: 0;
}

.locationFrame {
  width: 100%;
  height: 250px;
}/*# sourceMappingURL=App.css.map */